# .gitignore for rust-bitnet repository workspace.

# Lock files
Cargo.lock
internals/Cargo.lock
bitnet/Cargo.lock
hashes/Cargo.lock

# Build artifacts
target
internals/target
bitnet/target
hashes/target

# Test artifacts
bitnet/dep_test

# Fuzz artifacts
hfuzz_target
hfuzz_workspace
